<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="this is the splash page">
    <meta name="author" content="roceleylaw">
    <title>splash-page</title>
  </head>
  <body class="non-scrollable">
    <div class="jumbotron bg-rose">
      <div class="container full-screen">
        <div class="display-mid">
          <h1 class="center animate-top">Welcome, Muser</h1>
          <hr class="border-grey">
          <a href="#" class="btn btn-lg btn-default center animated infinite pulse" routerLink="/users">Learn more</a>
        </div>
      </div>
    </div>
  </body>
</html>
