<div *ngIf="!item" class="loading-section">
  <!-- You can add a loading indicator here if you want to :) </i> -->
</div>
<div *ngIf="item">
  <div class="item-laptop">
  <td>
    <p  [routerLink]="['/user-item', item._id]">
      No.{{i}}
    </p>
    <div class="subtext-laptop">
      <p>
        <a class="title" [routerLink]="['/user-item', item._id]">
          {{item.username}}
        </a>
      </p>
    </div>
  </td>
  <!--<td><button type="button" class="btn btn-default" name="delete" (click)="deleteUser()">delete</button></td>-->
  </div>
  <div class="item-mobile">
  </div>
</div>
